PORT=5000
MONGODB_URI=mongodb://localhost:27017/globetrotter
ACCESS_TOKEN_SECRET=15m
REFRESH_TOKEN_SECRET=1d
BREVO_API_KEY=your_brevo_api_key_forgot_password
CLIENT_URL=http://localhost:5173
NODE_ENV=development
